.gallery{
    background-color: lightgray;
  }
  /* Esto afectará a las imágenes en pantallas pequeñas */
@media (max-width: 767px) {
    .gallery-img{
        width: 100%;
        height: 300px;
    }
  }
  @media (max-width: 992px) {
    .gallery-img{
        height: 350px;
    }
  }